.subtitulos {
    background-color: rgb(240, 157, 98);
}

.titulo {
    background-color: grey;
}



h1 {
    font-family: Arial, Helvetica, sans-serif  ;
    font-size: medium;
}

td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    border:  1px solid black;
}

table{
    border:  1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

