body {
    background-color: rgb(117, 149, 82);
}

h1 {
    width: 800;
    background-color: rgb(127, 101, 84);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: moccasin;
    
}
