body {
    background-image: url('res/madera.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    margin: 0 auto;
}

.info {
    background-color: white;
    padding: 5%;
    
}

.info h1{
    text-align: center;

}


.info a{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
}

img{
    width: 100%;
    margin: 0 auto;
}